blinker
certifi
charset-normalizer
click
colorama
contourpy
cycler
filelock
Flask
fonttools
gitdb
GitPython
idna
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
opencv-python
opencv-python-headless
packaging
pandas
Pillow
psutil
pyparsing
python-dateutil
pytz
PyYAML
requests
scipy
seaborn
six
smmap
sympy
tqdm
typing_extensions
tzdata
ultralytics
urllib3
Werkzeug